<div id="form">
  <p id="form_title">Task info</p>
  <%= form_for @task do |f| %>
    <section>
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </section>

    <section>
      <%= f.label :description %>:
      <%= f.text_field :description %>
    </section>

    <section>
      <%= f.label :person_id, "Assigned to:" %>
      <%= f.collection_select(:person_id, Person.all, :id, :name, {}, {:id => "dropdown"}) %>
    </section>

    <%= f.submit "#{button_text}", :class => "button" %>
  <% end %>
  <div id="link_back">
    <%= link_to "tasks", "/tasks/" %> | <span id="middle_link"><%= link_to "new task", "/tasks/new" %></span> | <%= link_to "people", "/people/" %>
  </div>
</div>
