<div id="table">
  <table>
    <thead>
      <tr>
        <td colspan="5" id="title">
          To do
        </td>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <% if !task.completed %>
          <td><%= link_to '<i class="icon-check-empty"></i>'.html_safe, "/tasks/#{task.id}/complete", method: :patch %></td>
        <% else %>
          <td><%= link_to '<i class="fa fa-check-square-o"></i>'.html_safe, "/tasks/#{task.id}/complete", method: :patch %></td>
        <% end %>
        <td><%= task.name %></td>
        <td><%= link_to "#{task.person.name}", "/people/#{task.person.id}", {:id => "person_name"} %></td>
        <td><%= link_to "details", "/tasks/#{task.id}" %></td>
        <td class="delete">
          <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,  { action: :destroy, id: task.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td colspan="5" id="table_nav">
          <%= link_to "tasks", "/tasks/" %> | <span id="middle_link"><%= link_to "new task", "/tasks/new" %></span> | <%= link_to "people", "/people/" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
